@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c-b: #3D71AC;
  --c-v: #AF66A8;
  --c-w: #EFFBFF;
  --c-db: #192E5B;
  --f-p: 'Poppins';
}

.btn {
  border: 2px solid #192e5b;
  color: #192e5b;
}
.btn:hover {
  border: 2px solid #192e5b;
  color: #192e5b;
  background-color: #fcc34f;
}
.formContainer {
  padding: 1.5rem 2rem;
  margin: 2.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 12px #0000008a;
}
.Booking {
  border: 2px solid #fcc34f !important;
  color: #fcc34f !important;
}
.Booking:hover {
  border: 2px solid #fcc34f !important;
  color: #fcc34f !important;
}
