@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c-b: #3d71ac;
  --c-v: #af66a8;
  --c-w: #effbff;
  --c-db: #192e5b;
  --f-p: 'Poppins';
}

footer {
  background-color: var(--c-db);
  padding: 10px;
}

.nav-container img {
  display: none;
}

.footer-row {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

footer ul,
.social-container {
  margin: 5px 0;
  padding: 0;
}

footer ul li {
  list-style: none;
}

footer .logo {
  width: 135px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pNumber,
.address,
.connect,
.eMail,
.copyright,
.location,
.phone,
.envelope,
.social-container i {
  color: var(--c-w);
}

.connect {
  text-transform: uppercase;
}

.location,
.phone,
.envelope {
  margin-right: 15px;
  margin-bottom: 15px;
}

.social-container i {
  padding-right: 10px;
  font-size: 1.5em;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  /* .nav-container img {
    display: block;
    width: 70px;
  }

  .nav-container a {
    display: none;
  } */

  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-container {
    margin: 10px;
  }
}
