@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c-b: #3d71ac;
  --c-v: #af66a8;
  --c-w: #effbff;
  --c-db: #192e5b;
  --f-p: 'Poppins';
}

nav {
  background-color: var(--c-b);
}
.dropdown-toggle{
  display: flex;
  align-items: center;
  position: relative;
  bottom: 8px;
}
.profile-pic{
  width: 45px;
  padding: 5px;
  background-color: #effbff;
  border-radius: 50%;
}

.nav-container {
  width: 97%;
  margin: auto;
}

.page-container {
  position: relative;
  top: 7px;
}

.path {
  color: var(--c-w) !important;
  font-size: 1.6em;
}

.path:hover {
  color: var(--c-db) !important;
  transition: ease-in-out !important;
}

.path i {
  position: relative;
  bottom: 5px;
}

#navbarSupportedContent {
  margin-top: 3px;
}

.nav-link {
  padding: 7px;
  margin: 0 10px;
  font-weight: 600;
  color: var(--c-w) !important;
}

.nav-link:hover {
  color: var(--c-db) !important;
  transition: ease-in-out !important;
}

.book {
  border: 2px solid var(--c-w);
  border-radius: 10px;
}

.book:hover {
  border: 2px solid var(--c-db) !important;
  transition: ease-in-out !important;
}
.dropdown-menu {
    --bs-dropdown-min-width: 5rem !important;
}
@media screen and (max-width: 425px) {
  .fa-circle-user {
    padding-top: 10px;
  }

  .navbar-toggler {
    margin-left: 60px;
    border: var(--c-w) solid 2px;
  }

  .bi-list {
    color: var(--c-w);
    font-size: 1.2em;
  }

  .btn-nxt,
  .btn-prv {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .navbar-toggler {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .navbar-toggler {
    width: 32px;
  }

   .bi-list {
    font-size: 18px;
    position: relative;
    right: 6px;
   }
}
