nav {
  background-color: #192e5b;
}
.navbar-toggler {
  color: #ffff !important;
  border-color: #ffff;
}
.nav-link {
  padding: 7px;
  margin: 0 10px;
}
.bookNow {
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav-link:hover {
  color: #70ced0 !important;
}
.bookNow:hover {
  border: 2px solid #70ced0;
}
