@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c-o: #fcc34f;
  --c-db: #192e5b;
  --c-sb: #70ced0;
  --c-w: #fff;
  --f-p: 'Poppins';
}

nav {
  background-color: #192e5b;
}

.navbar-toggler {
  color: #ffff !important;
  border-color: #ffff;
}

.nav-link {
  padding: 7px;
  margin: 0 10px;
}

.Booking {
  border: 2px solid #fff;
  border-radius: 10px;
}

.nav-link:hover {
  color: #fcc34f !important;
}

.Booking:hover {
  border: 2px solid #fcc34f !important;
}
